body{
    background-color: black;
}

h1{
    color: grey;
    text-align: center;
}

.container{
    border-radius: 15px;
    background-color: white;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width:fit-content;
    margin: auto;

}

p{
    display: none;
    margin-bottom: 5px;
}

#childc{
    margin:auto;
    
}